body
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: black;
}

header
{
   
}

nav
{
    position:sticky;
    width: 100%;
    line-height: 60px;
    background:black;
}

nav ul
{
    float: right;
    margin: 0;
    padding-right: 42px;
    
}

nav ul li
{
    display: inline-block;
    padding: 5px;
    margin-top:10px;

}

nav ul li a 
{
    text-decoration: none;
    color:white;
    font-size:17px;
    padding: 10px 20px 10px 20px;
    border-radius:20px;
}

nav ul li a:hover
{
    text-decoration: none;
    color:white;
    font-size:17px;
    background:white;
    color:black;
    
}

.logo
{
    float: left;
    height:70px;
    margin:20px;
    margin-left: 40px;
    border-radius: 10px;
    background: black;
}

.logo:hover{
    background:white;
}